@import "tailwindcss";

:root {
  --background: #FBFBFA;
  --foreground: #111111;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
}

/* Minimalist Utils */
.border-minimal {
  border-color: #EAEAEA;
}

.bg-muted-pastel-blue {
  background-color: #E1F3FE;
  color: #1F6C9F;
}

.bg-muted-pastel-green {
  background-color: #EDF3EC;
  color: #346538;
}

.bg-muted-pastel-red {
  background-color: #FDEBEC;
  color: #9F2F2D;
}

.bg-muted-pastel-yellow {
  background-color: #FBF3DB;
  color: #956400;
}
